#footer= 'Copyright © 2017 - ' + date(Date.now(), 'YYYY') + ' '
  a(href=url_for('.'), rel='nofollow')= config.title + ' |'
  |  Powered by
  a(rel='nofollow', target='_blank', href='https://hexo.io')  Hexo |
  |  浙ICP备18055875号-1
  if theme.busuanzi == true
    script(src='https://busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js', async)
    div
    div.busuanzi_container_site_pv
      span='总访问量 '
      span#busuanzi_value_site_pv
      span= ' 次 | 访客数 '
      span#busuanzi_value_site_uv
      span=' 人次'